body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topSection {
  flex: 1;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomSection {
  flex: 1;
  display: flex;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
}