body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leftSection {
  width: 33%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleSection {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSection {
  width: 33%;
  display: flex;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
}
